version: "3.8"

services:
  portainer-agent:
    image: portainer/agent:latest
    container_name: portainer-agent
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /var/lib/docker/volumes:/var/lib/docker/volumes
    ports:
      - "9001:9001"
    networks:
      - internal

  basicstation:
    image: xoseperez/basicstation:latest
    container_name: basicstation
    restart: unless-stopped
    privileged: true
    network_mode: host
    environment:
      MODEL: "SX1301"
      TC_KEY: "********************************"   
      INTERFACE: SPI
      RESET_GPIO: 17
      DEVICE: "/dev/spidev0.0"
      HAS_GPS: 1
      # TTS_REGION: IN

networks:
  internal:
    driver: bridge
